<h1>New Task</h1>

<%= form_with(model: [ @task.user, @task ]) do |form| %>
  <div class="field">
    <%= form.text_field :title %>
    <%= form.text_field :description %>
    <%= form.select :team_id, options_for_select(Team.all.map{|team|[team.name, team.teamid]}) %>
    <%= form.submit "Send" %>
  </div>
<% end %>

<%= link_to 'back', @task.user %>
